@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 0;
  }

  html {
    scroll-behavior: auto;
  }
  
  body {
    @apply bg-background text-foreground antialiased selection:bg-primary/30 selection:text-primary;
    overscroll-behavior-y: none;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-b from-white to-primary;
  }
  
  .text-gradient-dark {
    @apply bg-clip-text text-transparent bg-gradient-to-b from-foreground to-primary;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
